---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { projectsData, type ProjectData } from "@/data/projects";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Badge } from "@/components/ui/badge";
import { Anchor } from "@/components/ui/anchor";
import { SquareArrowOutUpRight } from "lucide-react";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const featured = projectsData.find((p) => p.isFeatured)!;
const regular = projectsData.filter((p) => !p.isFeatured);
---

<section
  class="flex w-full flex-col justify-between gap-8 bg-background bg-[linear-gradient(to_right,#80808033_1px,transparent_1px),linear-gradient(to_bottom,#80808033_1px,transparent_1px)] bg-[size:30px_30px] p-8 shadow-none sm:shadow-shadow"
  id={t("header.projects")}>
  <h2
    class="border-2 border-border bg-white px-8 py-4 text-center text-lg shadow-shadow sm:text-xl xl:text-2xl 2xl:text-4xl">
    {t("index.projects.title")}
  </h2>

  <div
    class="grid grid-cols-1 justify-center gap-8 md:grid-cols-2 lg:grid-cols-3">
    <a
      href={`/${lang}/projects/${featured.slug}`}
      class="col-span-1 md:col-span-2 lg:col-span-3">
      <Card
        className="w-full bg-white transition-all hover:translate-x-boxShadowX hover:translate-y-boxShadowY hover:shadow-none cursor-pointer">
        <CardHeader>
          <CardTitle>{t(featured.titleKey)}</CardTitle>
        </CardHeader>
        <CardContent className="flex flex-col">
          <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
            <div
              class="col-span-4 flex flex-col justify-between gap-4 md:col-span-2 lg:col-span-3">
              <div>{t(featured.shortDescriptionKey)}</div>

              <div class="flex flex-col gap-4">
                <div class="flex flex-row flex-wrap gap-2">
                  {
                    featured.technologies.map((technology: string) => (
                      <Badge className="text-md">{technology}</Badge>
                    ))
                  }
                </div>
                <div class="flex gap-4">
                  <span class="text-sm font-base text-foreground/60">
                    {t("index.projects.view_details")} &rarr;
                  </span>
                </div>
              </div>
            </div>

            <div class="grid-row-span-4 md:col-span-1 lg:col-span-1">
              <video
                width={featured.video_width}
                height={featured.video_height}
                autoplay
                muted
                loop
                class="rounded-3xl p-4">
                <source
                  src={`/webm/${featured.video_id}.webm`}
                  type="video/webm"
                />
              </video>
            </div>
          </div>
        </CardContent>
      </Card>
    </a>
    {
      regular.map((project: ProjectData) => (
        <a href={`/${lang}/projects/${project.slug}`} class="w-full">
          <Card className="w-full h-full bg-white transition-all hover:translate-x-boxShadowX hover:translate-y-boxShadowY hover:shadow-none cursor-pointer">
            <CardHeader>
              <div class="flex flex-col gap-4">
                <img
                  src={`/webp/${project.miniature}.webp`}
                  alt={t(project.titleKey)}
                  class="rounded-base"
                />
                <CardTitle>{t(project.titleKey)}</CardTitle>
              </div>
            </CardHeader>
            <CardContent className="flex flex-col h-full">
              <CardDescription>
                {t(project.shortDescriptionKey)}
              </CardDescription>
            </CardContent>
            <CardFooter className="flex flex-col gap-8 items-start">
              <div class="flex flex-row flex-wrap gap-2">
                {project.technologies.map((technology: string) => (
                  <Badge>{technology}</Badge>
                ))}
              </div>
              <span class="text-sm font-base text-foreground/60">
                {t("index.projects.view_details")} &rarr;
              </span>
            </CardFooter>
          </Card>
        </a>
      ))
    }
  </div>
</section>
